<div class="alert alert-light d-flex align-items-start" role="alert">
    <i class="bi bi-leaf me-2 fs-5"></i>
    <div>
        <p>I fully understand how crucial it is for your business to have continuous access to your services. </p>
        <p>If you are currently having <b>inconveniences completing the payments</b>, my team is definitively open to
            helping
            you in
            the most convenient way. In order to request an extension, could you please share the following details with
            us:
        </p>
        <ul>
            <li>
                <p>Atlas Organization name or ID that requires a consideration or grace period (access to organization
                    settings
                    by clicking on the Home icon on the top left). </p>
            </li>
            <li>
                <p>The invoice numbers that you are concerned about (click on each invoice to find this number). </p>
            </li>
            <li>
                <p>The justification for this request or consideration (be concise about the situation that prevents you
                    from
                    completing the payment). </p>
            </li>
            <li>
                <p>An estimate date or period to perform any actions or complete pending payments (provide a commitment
                    date,
                    which is important so that our team can evaluate). </p>
            </li>
        </ul>
        <p>Once I receive all the above, I will be relaying this request to our concerned team and will let you know
            their
            response as soon as I have an update from them. </p>
        <p>Thank you for your collaboration to assist you as soon as possible. </p>

    </div>
</div>


<hr><!-- ____________________________________________________________________________ -->
<h5> <b>Extension (SUSPENDED) <a href="https://wiki.corp.mongodb.com/display/MMS/Engaging+the+Cloud+TAM+team+in+tickets"
            target="_blank" rel="noopener noreferrer"> @apm</a></b> [template-tam-init]
</h5>
<div class="alert alert-light d-flex align-items-start" role="alert">
    <i class="bi bi-leaf me-2 fs-5"></i>
    <div>
        <p><b>Billing Link</b> <br></p>
        <p><b>Link to Project/Cluster:</b> <br></p>
        <p><b>Platform:</b>Atlas</p>
        <p><b>Credit Request:</b> No</p>
        <p><b>Summary</b><br>
            The customer is asking for a grace period until XXXX to settle their outstanding receivables, as their
            organization is currently suspended.

            They would like to avoid any further consequences.
            <br>
            Customer request:
        <pre>I would like to </pre>
        </p>
        <br>
        <b>Invoices</b>
        <ul>
            <li>Invoice ___</li>
        </ul>
        <p>
            <b>Requested Action</b><br>Please advise if this extension can be granted.
            Thanks in beforehand.
        </p>
    </div>
</div>

<h5>REFUND Request for unused Services</h5>
<div class="alert alert-light d-flex align-items-start" role="alert">
    <i class="bi bi-leaf me-2 fs-5"></i>
    <div>
        <p><b>Billing Link</b> <br></p>
        <p><b>Link to Project/Cluster:</b> <br></p>
        <p><b>Platform:</b>Atlas</p>
        <p><b>Credit Request:</b> No</p>
        <p><b>Summary</b><br>
            Hello team, this customer is requesting a refund for unused services on their account, since they
            consider that had not used the services and no charges should incur on the account.
            <br>
            I've already explained the <b>cluster's per-hour cost</b> and how MongoDB charges them for the <a
                href="https://www.mongodb.com/docs/manual/core/replica-set-members/" target="_blank"
                rel="noopener noreferrer">Replica Set</a> resources availability (Such as <a
                href="https://www.mongodb.com/docs/atlas/billing/cluster-configuration-costs/#cluster-tier"
                target="_blank" rel="noopener noreferrer">CPU, Storage, and Memory</a>).
            <br>
            Customer request:
        <pre>Please provide a refund for the unused services.</pre>
        </p>
        <br>
        <b>Invoices</b>
        <ul>
            <li>Invoice ___</li>
        </ul>
        <p>
            <b>Requested Action</b><br>Please evaluate on the aforementioned and I will share your consideration
            with this to the customer.

            <br>
            Thank you for any feedback or response on this matter.
        </p>
    </div>
</div>



<!-- Payment extension ACK to Customer -->
<div class="alert alert-primary d-flex align-items-start" role="alert">
    <i class="bi bi-pencil me-2 fs-5"></i>
    <div>
        Thank you for the information, With this I will elaborate an internal request and share it with our
        concerned team for consideration.
        Please note that we cannot guarantee any action on their end, however, I will let you know any
        feedback or response as soon I receive it.
        <br>
        We appreciate your patience.
    </div>
</div>
<!-- Refund Requet ACK to Customer -->
<div class="alert alert-secondary d-flex align-items-start" role="alert">
    <i class="bi bi-pencil me-2 fs-5"></i>
    <div>
        Based on the above, since the service is considered as delivered, it is unlikely our accounts team will be
        able to issue a refund, however, I will share your request with them for their consideration and will let you
        know any feedback or response as soon I receive it.
        <br>

        Note that there is <b>no guarantee of any refund or particular resolution</b> since this lays on our team
        consideration, we appreciate your patience.
    </div>
</div>

<!-- Payment extension approved notice -->
<div class="alert alert-success d-flex align-items-start" role="alert">
    <i class="bi bi-check-circle-fill me-2 fs-5"></i>
    <div>
        Hey, please be informed that our team reviewed your request, and they
        approved an extension for payment as you asked for, having the new due
        date at <strong>_____</strong>.
        <br>
        We recommend working with your team to cover the pending amounts before
        this new date to avoid any disruption to your services.
    </div>
</div>

<!-- Refund approved notice -->
<div class="alert alert-success d-flex align-items-start" role="alert">
    <i class="bi bi-check-circle-fill me-2 fs-5"></i>
    <div>
        Hello, our internal team had reviewed your request, and as a good
        will gesture, our team had forgiven the requested charge(s) for your organization and
        <br>credited your
        organization to cover the expenses generated until today morning.
    </div>
</div>


<hr><!-- ____________________________________________________________________________ -->