<div>
    <h5>Embargoed</h5>
    <p>Thank you. After reviewing the information, it seems there is a detail in the account that is not fixable on our
        end; please send an email query to cloud-account-support@mongodb.com for details and further steps.
        <br>
    </p>
    <p>Please include Organization name (ID if available),&nbsp;Organization's owner&nbsp;email, the name,&nbsp;and any
        recent change performed.
        <br>
    </p>
    <p>The SLA of this other team is not available for us, but our customers referred to them and had&nbsp;your problem
        solved within the first hours of contacting them.</p>
</div>