<div>
    <p>
        Hello, I'm taking over for my colleague who is off shift, I will be happy to assist you
        with this issue. \nI have read through the conversation and ...
    </p>
    <p>
        Hi, I will taking over this chat as my colleague is unavailable at the moment.
    </p>
    <p>
        Hola Gracias por contactar a este Soporte Gratuito. Por favor ten en cuenta que este soporte es solo provisto en
        Inglés. En este caso estoy haciendo una excepción dado que hablo Español y quiero ayudarte, solo considera que
        no todos nuestros agentes pueden proveer asistencia en tu idioma. \nDicho esto, poodrías clarificarme cuál es el
        problema que estás teniendo?
    </p>
    <p>
        Hello, Thank you for contacting MongoDB Free chat support, unfortunately, MongoDB Support is only available in
        English. I hope you are comfortable continuing the conversation in English, if you have problems, you could try
        using an online translator to communicate with us, we will do our best to understand your issue and assist you
        the better.
    </p>
</div>
<div>
    <p>In case of any delays, please bear with us. For more on our basic support <strong>scope</strong>, refer
        to&nbsp;<a href="https://intercom.help/mongodb-atlas/en/articles/4492380-what-does-basic-support-cover"
            target="_blank" rel="nofollow noopener noreferrer">What does Basic Support cover?</a></p>
</div>
<hr>