<div>
    <div>
        <p>Thank you for your patience.</p>
    </div>
    <div>
        <p>We are aware of the current issue related to&nbsp;_____<strong>,</strong>&nbsp;which has been posted
            on&nbsp;our MongoDB status&nbsp;webpage&nbsp;<a href="https://status.cloud.mongodb.com/"
                target="_blank">https://status.cloud.mongodb.com/</a>.</p>
    </div>
    <div>
        <p>Our engineering team is actively investigating alternatives to&nbsp;fix it or share alternatives.</p>
    </div>
    <div>
        <p>At this time, we don&rsquo;t have a specific timeframe for restoration, but I will update you as soon as I
            receive more information.</p>
    </div>
    <div>
        <p>We truly appreciate your time and understanding.</p>
    </div>
</div>

<hr>