<div>
    <p>Please note that response times may vary within our <strong>Basic Chat Support</strong> when we&rsquo;re
        conducting multiple investigations or handling high volume of chats.</p>
</div>
<div>
    <p>In case of any delays, please bear with us. For more on our basic support <strong>scope</strong>, refer
        to&nbsp;<a href="https://intercom.help/mongodb-atlas/en/articles/4492380-what-does-basic-support-cover"
            target="_blank" rel="nofollow noopener noreferrer">What does Basic Support cover?</a></p>
</div>
<hr>